---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'
import { Image } from 'astro:assets'
import logo from '../../public/profile.png'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <h1 class="mb-4 text-3xl font-bold">
        <Image
          src={logo}
          alt="Logo"
          class="float-left mr-4 size-12 rounded-sm"
        />
        About Me
      </h1>
      <p class="prose prose-neutral dark:prose-invert mt-6 mb-8">
        Hi! I'm <b>Angad</b>. I'm currently a senior in high school. You can
        find me on
        <Link href="https://github.com/onlycs" external>GitHub</Link>.
      </p>
    </div>

    <h2 class="mb-4 text-2xl font-medium">Biggest Projects</h2>
    <div class="flex flex-col gap-4">
      {
        projects
          .sort((a, b) => {
            const aPresent = a.data.endDate === 'present'
            const bPresent = b.data.endDate === 'present'
            if (aPresent && !bPresent) return -1
            if (!aPresent && bPresent) return 1
            if (aPresent && bPresent) {
              return (
                new Date(b.data.startDate).getTime() -
                new Date(a.data.startDate).getTime()
              )
            }
            return (
              new Date(b.data.endDate).getTime() -
              new Date(a.data.endDate).getTime()
            )
          })
          .map((project) => <ProjectCard project={project} />)
      }
    </div>
  </section>
</Layout>
